[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
greenhouse = {git = "git@github.com/bbc/datalab-greenhouse.git",ref = "bot-dep"}
requests = "==1.2.1"

[dev-packages]

[requires]
python_version = "3.7"
